<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>Dog Index</title>
  </head>
	<body>
        
    <h1>Dog Index Page</h1>
    <br>
    <p>You can send list request as the following: </p>
    <div>
      <ul>
        <li><a href="http://localhost:7001/dog/list">Dog List</a></li>
      </ul>
    </div>
        
	</body>
    
</html>

